@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// basic resets

body{
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container{
    margin: 20px;
    display: flex;
}